<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Country</title>
</head>
<body>
    <section>
        <h1>All Country</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in countries %}
                        <tr>
                                <td>
                                    {{i.country_id}}
                                </td>
                                <td>
                                    <a href="/prova/countries/{{i.country_id}}/cities">{{i.country}}</a>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>