{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Categorias</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    </head>
    <body>
        {% include "header.html" %}
        <div class=".container">
            <h1>Categories | Categorias</h1>
            <ul>
                <div class="search-div">
                    <form method="post">
                        {% csrf_token %}
                        <input type = "text"
                            name = "first_name"
                            id = "first_name"
                            value = "{{nameFilter}}"
                            placeholder="Search"
                        >
                        <select name="type" id="type">
                                <option value="name__contains">contains</option>
                                <option value="name__icontains">icontains</option>
                                <option value="name__endswith">endswith</option>
                                <option value="name__iendswith">iendswith</option>
                                <option value="name__exact">exact</option>
                                <option value="name__iexact">iexact</option>
                                <option value="name__in">in</option>
                                <option value="category_id__gt">gt</option>
                                <option value="category_id__gte">gte</option>
                                <option value="category_id__lt">lt</option>
                                <option value="category_id__lte">lte</option>
                        </select>
                        <input type="submit" value="🔍">
                    </form>
                </div>
                {% for category in categories %}
                <li>
                    <a >
                        <span class="user_id">{{category.category_id}}.</span>{{category.name}}
                    </a> 
                    <a href="/categories/edit/{{category.category_id}}" class="edit_btn">
                        ✏️
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="new_btn_container_sticky">
            <a class="add_btn" href="{% url 'add_category' %}">+ New category</a>
        </div>
    </body>
</html>